body {
}

h1 {
    text-align: center;
    font-family: 'La Belle Aurore', cursive;
    font-size: 3.5rem;
}

h2 {
    text-align: center;
    font-family: 'La Belle Aurore', cursive;
    font-size: 2.5rem;
}

nav {
    text-align:center;
    font-size: 2.0rem;
}

nav ul li {
    margin: 0 0.5rem;
    display: inline;
}

nav ul {
    padding: 0;
}

nav ul li a {
    text-decoration: none;
}

#summary {
    text-align: center;
}



