<h2>Contact</h2>
<form action="https://formspree.iao/f/{{ .Site.Params.contact.formspree_id }}"
      method="POST">
    <div class="mb-3">
        <label class="form-label" for="email">Your email:</label>
        <input class="form-control" id="email" type="email">
    </div>
    <div class="mb-3">
        <label class="form-label" for="message">Your message:</label>
        <textarea class="form-control" id="message" rows="3"></textarea>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Send</button>
    </div>
</form>