<h1>Karol Shirley</h1>
<div class="row mb-4">
    <div class="col mx-auto">
        <a href="{{ .Site.BaseURL }}">
            <img src="{{ .Site.Params.avatar }}"
                 class="img-fluid rounded-circle mx-auto d-block"
                 width="40%"
            />
        </a>
    </div>
</div>
<div class="row">
    <div id="summary" class="col mx-auto">
        <p>
            {{ .Site.Params.summary }}
        </p>
    </div>
</div>
<div class="row">
    <div id="nav" class="col mx-auto">
        {{ partial "nav.html" . }}
    </div>
</div>